/* LOADER */
.loader {
  transition: all 400ms ease-in-out;
} 

.loader.hide {
  opacity: 0;
} 




/* WORLD CLOCK */
.application.world-clock {
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: #000000;
  padding: 5%;
  font-family: Ahamono Monospaced;
  font-size: 14px;
  line-height: 1.4;
  word-break: break-word;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.mobile.height-longer .world-clock {
  padding: 5% 2%;
}

.world-clock .sources.icons-b {
  border-radius: 50%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 10px;
  right: auto;
  bottom: auto;
  left: 10px;
  z-index: 2;
}

.computer .world-clock .sources.icons-b {
  width: 60px;
  height: 60px;
}

.mobile .world-clock .sources.icons-b {
  width: 45px;
  height: 45px;
}

.world-clock .sources.icons-b::before {
  width: inherit;
  height: inherit;
  background-size: contain;
  -webkit-filter: drop-shadow(0px 0px 1px #eeeeee);
}



/* TIMEZONES */ 
.world-clock .timezones {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
