/* NUMERIC INDICATORS - HOURS */
.world-clock .timezones clock .border .numeric-indicators > .hours.one {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Hours/1.png");
}

.world-clock .timezones clock .border .numeric-indicators > .hours.two {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Hours/2.png");
}

.world-clock .timezones clock .border .numeric-indicators > .hours.three {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Hours/3.png");
}

.world-clock .timezones clock .border .numeric-indicators > .hours.four {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Hours/4.png");
}

.world-clock .timezones clock .border .numeric-indicators > .hours.five {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Hours/5.png");
}

.world-clock .timezones clock .border .numeric-indicators > .hours.six {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Hours/6.png");
}

.world-clock .timezones clock .border .numeric-indicators > .hours.seven {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Hours/7.png");
}

.world-clock .timezones clock .border .numeric-indicators > .hours.eight {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Hours/8.png");
}
 
.world-clock .timezones clock .border .numeric-indicators > .hours.nine {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Hours/9.png");
}

.world-clock .timezones clock .border .numeric-indicators > .hours.ten {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Hours/10.png");
}

.world-clock .timezones clock .border .numeric-indicators > .hours.eleven {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Hours/11.png");
}

.world-clock .timezones clock .border .numeric-indicators > .hours.twelve {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Hours/12.png");
}

 
/* NUMERIC INDICATORS - MINUTES */
.world-clock .timezones clock .border .numeric-indicators > .minutes.zero {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/00.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.one {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/01.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.two {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/02.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.three {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/03.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.four {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/04.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.five {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/05.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.six {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/06.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.seven {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/07.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.eight {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/08.png");
}
 
.world-clock .timezones clock .border .numeric-indicators > .minutes.nine {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/09.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.ten {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/10.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.eleven {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/11.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.twelve {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/12.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.thirteen {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/13.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.fourteen {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/14.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.fifteen {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/15.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.sixteen {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/16.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.seventeen {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/17.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.eighteen {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/18.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.nineteen {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/19.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.twenty {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/20.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.twenty-one {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/21.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.twenty-two {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/22.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.twenty-three {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/23.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.twenty-four {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/24.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.twenty-five {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/25.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.twenty-six {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/26.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.twenty-seven {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/27.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.twenty-eight {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/28.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.twenty-nine {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/29.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.thirty {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/30.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.thirty-one {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/31.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.thirty-two {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/32.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.thirty-three {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/33.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.thirty-four {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/34.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.thirty-five {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/35.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.thirty-six {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/36.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.thirty-seven {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/37.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.thirty-eight {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/38.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.thirty-nine {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/39.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.forty {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/40.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.forty-one {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/41.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.forty-two {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/42.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.forty-three {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/43.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.forty-four {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/44.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.forty-five {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/45.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.forty-six {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/46.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.forty-seven {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/47.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.forty-eight {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/48.png");
}
 
.world-clock .timezones clock .border .numeric-indicators > .minutes.forty-nine {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/49.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.fifty {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/50.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.fifty-one {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/51.png");
}
 
.world-clock .timezones clock .border .numeric-indicators > .minutes.fifty-two {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/52.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.fifty-three {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/53.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.fifty-four {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/54.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.fifty-five {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/55.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.fifty-six {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/56.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.fifty-seven {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/57.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.fifty-eight {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/58.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.fifty-nine {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Minutes/59.png");
}

 
/* NUMERIC INDICATORS - SECONDS */
.world-clock .timezones clock .border .numeric-indicators > .seconds.zero {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/00.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.one {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/01.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.two {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/02.png");
}
 
.world-clock .timezones clock .border .numeric-indicators > .seconds.three {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/03.png");
}
 
.world-clock .timezones clock .border .numeric-indicators > .seconds.four {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/04.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.five {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/05.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.six {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/06.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.seven {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/07.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.eight {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/08.png");
}
 
.world-clock .timezones clock .border .numeric-indicators > .seconds.nine {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/09.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.ten {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/10.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.eleven {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/11.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.twelve {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/12.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.thirteen {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/13.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.fourteen {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/14.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.fifteen {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/15.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.sixteen {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/16.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.seventeen {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/17.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.eighteen {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/18.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.nineteen {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/19.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.twenty {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/20.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.twenty-one {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/21.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.twenty-two {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/22.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.twenty-three {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/23.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.twenty-four {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/24.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.twenty-five {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/25.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.twenty-six {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/26.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.twenty-seven {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/27.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.twenty-eight {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/28.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.twenty-nine {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/29.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.thirty {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/30.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.thirty-one {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/31.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.thirty-two {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/32.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.thirty-three {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/33.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.thirty-four {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/34.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.thirty-five {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/35.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.thirty-six {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/36.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.thirty-seven {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/37.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.thirty-eight {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/38.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.thirty-nine {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/39.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.forty {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/40.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.forty-one {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/41.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.forty-two {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/42.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.forty-three {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/43.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.forty-four {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/44.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.forty-five {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/45.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.forty-six {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/46.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.forty-seven {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/47.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.forty-eight {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/48.png");
}
 
.world-clock .timezones clock .border .numeric-indicators > .seconds.forty-nine {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/49.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.fifty {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/50.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.fifty-one {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/51.png");
}
 
.world-clock .timezones clock .border .numeric-indicators > .seconds.fifty-two {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/52.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.fifty-three {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/53.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.fifty-four {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/54.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.fifty-five {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/55.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.fifty-six {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/56.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.fifty-seven {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/57.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.fifty-eight {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/58.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.fifty-nine {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Seconds/59.png");
}
