/* NUMERIC INDICATORS - HOURS */
.world-clock .timezones clock .border .numeric-indicators > .hours.one {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/7.%20Seventh/Compressed/Hours/1.png");
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Hour/1.png");
}

.world-clock .timezones clock .border .numeric-indicators > .hours.two {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Hour/2.png");
}

.world-clock .timezones clock .border .numeric-indicators > .hours.three {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Hour/3.png");
}

.world-clock .timezones clock .border .numeric-indicators > .hours.four {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Hour/4.png");
}

.world-clock .timezones clock .border .numeric-indicators > .hours.five {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Hour/5.png");
}

.world-clock .timezones clock .border .numeric-indicators > .hours.six {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Hour/6.png");
}

.world-clock .timezones clock .border .numeric-indicators > .hours.seven {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Hour/7.png");
}

.world-clock .timezones clock .border .numeric-indicators > .hours.eight {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Hour/8.png");
}
 
.world-clock .timezones clock .border .numeric-indicators > .hours.nine {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Hour/9.png");
}

.world-clock .timezones clock .border .numeric-indicators > .hours.ten {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Hour/10.png");
}

.world-clock .timezones clock .border .numeric-indicators > .hours.eleven {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Hour/11.png");
}

.world-clock .timezones clock .border .numeric-indicators > .hours.twelve {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Hour/12.png");
}




/* NUMERIC INDICATORS - MINUTES */
.world-clock .timezones clock .border .numeric-indicators > .minutes.zero {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/00.png");
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/00.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.one {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/01.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.two {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/02.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.three {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/03.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.four {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/04.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.five {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/05.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.six {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/06.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.seven {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/07.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.eight {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/08.png");
}
 
.world-clock .timezones clock .border .numeric-indicators > .minutes.nine {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/09.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.ten {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/10.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.eleven {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/11.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.twelve {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/12.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.thirteen {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/13.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.fourteen {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/14.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.fifteen {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/15.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.sixteen {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/16.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.seventeen {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/17.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.eighteen {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/18.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.nineteen {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/19.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.twenty {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/20.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.twenty-one {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/21.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.twenty-two {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/22.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.twenty-three {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/23.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.twenty-four {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/24.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.twenty-five {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/25.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.twenty-six {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/26.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.twenty-seven {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/27.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.twenty-eight {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/28.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.twenty-nine {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/29.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.thirty {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/30.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.thirty-one {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/31.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.thirty-two {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/32.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.thirty-three {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/33.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.thirty-four {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/34.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.thirty-five {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/35.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.thirty-six {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/36.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.thirty-seven {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/37.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.thirty-eight {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/38.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.thirty-nine {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/39.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.forty {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/40.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.forty-one {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/41.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.forty-two {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/42.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.forty-three {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/43.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.forty-four {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/44.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.forty-five {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/45.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.forty-six {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/46.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.forty-seven {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/47.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.forty-eight {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/48.png");
}
 
.world-clock .timezones clock .border .numeric-indicators > .minutes.forty-nine {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/49.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.fifty {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/50.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.fifty-one {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/51.png");
}
 
.world-clock .timezones clock .border .numeric-indicators > .minutes.fifty-two {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/52.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.fifty-three {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/53.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.fifty-four {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/54.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.fifty-five {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/55.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.fifty-six {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/56.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.fifty-seven {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/57.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.fifty-eight {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/58.png");
}

.world-clock .timezones clock .border .numeric-indicators > .minutes.fifty-nine {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Minute/59.png");
}



 
/* NUMERIC INDICATORS - SECONDS */
.world-clock .timezones clock .border .numeric-indicators > .seconds.zero {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/00.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.one {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/01.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.two {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/02.png");
}
 
.world-clock .timezones clock .border .numeric-indicators > .seconds.three {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/03.png");
}
 
.world-clock .timezones clock .border .numeric-indicators > .seconds.four {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/04.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.five {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/05.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.six {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/06.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.seven {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/07.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.eight {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/08.png");
}
 
.world-clock .timezones clock .border .numeric-indicators > .seconds.nine {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/09.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.ten {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/10.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.eleven {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/11.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.twelve {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/12.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.thirteen {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/13.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.fourteen {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/14.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.fifteen {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/15.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.sixteen {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/16.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.seventeen {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/17.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.eighteen {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/18.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.nineteen {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/19.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.twenty {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/20.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.twenty-one {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/21.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.twenty-two {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/22.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.twenty-three {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/23.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.twenty-four {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/24.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.twenty-five {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/25.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.twenty-six {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/26.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.twenty-seven {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/27.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.twenty-eight {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/28.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.twenty-nine {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/29.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.thirty {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/30.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.thirty-one {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/31.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.thirty-two {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/32.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.thirty-three {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/33.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.thirty-four {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/34.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.thirty-five {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/35.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.thirty-six {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/36.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.thirty-seven {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/37.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.thirty-eight {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/38.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.thirty-nine {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/39.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.forty {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/40.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.forty-one {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/41.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.forty-two {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/42.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.forty-three {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/43.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.forty-four {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/44.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.forty-five {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/45.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.forty-six {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/46.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.forty-seven {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/47.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.forty-eight {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/48.png");
}
 
.world-clock .timezones clock .border .numeric-indicators > .seconds.forty-nine {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/49.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.fifty {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/50.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.fifty-one {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/51.png");
}
 
.world-clock .timezones clock .border .numeric-indicators > .seconds.fifty-two {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/52.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.fifty-three {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/53.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.fifty-four {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/54.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.fifty-five {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/55.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.fifty-six {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/56.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.fifty-seven {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/57.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.fifty-eight {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/58.png");
}

.world-clock .timezones clock .border .numeric-indicators > .seconds.fifty-nine {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/0.%20Design/Numeric%20Indicators/Second/59.png");
}
